@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Outfit Variable', sans-serif;
  }


@-webkit-keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

#zio {
   
    
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out;
}

.active-link{
    background-color: rgb(192 132 252 / var(--tw-bg-opacity));
}



.borde-letra{
    text-shadow: 2px 2px 0 purple;
}


